#dialogoverlay {
    display: none;
    opacity:none;
    position:fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: darkblue;
    border-radius: 7px;
    width:500px;
    margin: auto;
    z-index: 900;
    box-shadow: 0px 0px 10px 10px orange;
}
#dialogbox > div{ background:black; margin: 5px;}
#dialogbox > div #dialogboxhead{background: black; font-size: 19px; padding: 10px; color:ivory;}
#dialogbox > div #dialogboxfoot{background: black; font-size: 19px; padding: 10px; color: ivory; text-align:right;}
#btnstyle {
    color: lightgrey;
    background: purple;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
}
#btnstyle1 {
    color: lightgrey;
    background:purple;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
}
#dialogoverlay2 {
    display: none;
    opacity:none;
    position:fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
#dialogbox2{
    display: none;
    position: fixed;
    background:seagreen;
    border-radius: 7px;
    width:500px;
    margin: auto;
    z-index: 900;
    box-shadow: 0px 0px 10px 10px skyblue;
}
#dialogbox2 > div{ margin: 5px;}
#dialogbox2 > div #dialogboxhead2{background:aquamarine; font-size: 19px; padding: 10px; color:chocolate;}
#dialogbox2 > div #dialogboxfoot2{background:aquamarine; 
    font-size: 19px; padding: 10px; color:chocolate; text-align:right;}
#btnstyle3 {
    color:white;
    background-color:darkcyan;
    border: 3px solid seagreen;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
    box-shadow: 0px 0px 5px 5px skyblue;
}
#dialogoverlay1 {
    display: none;
    opacity:none;
    position:fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
#dialogbox1{
    display: none;
    position: fixed;
    background: salmon;
    border-radius: 7px;
    width:500px;
    margin: auto;
    z-index: 900;
    box-shadow: 0px 0px 10px 10px lightblue;
}
#dialogbox1 > div{ margin: 5px;}
#dialogbox1 > div #dialogboxhead1{background:lightgreen; font-size: 19px; padding: 10px; color:white;}
#dialogbox1 > div #dialogboxfoot1{background:lightgreen; 
    font-size: 19px; padding: 10px; color:white; text-align:right;}
#btnstyle2 {
    color:white;
    background-color: lightgreen;
    border: 3px solid salmon;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
    box-shadow: 0px 0px 5px 5px lightblue;
}
#inputd {
text-align: center;
}
#input{
    text-align: center;
    font-size: 200%;
}
#head{
    text-align: center;
    font-size: 350%;
}