#dialogoverlay {
    display: none;
    opacity:none;
    position:fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: darkblue;
    border-radius: 7px;
    width:500px;
    margin: auto;
    z-index: 900;
    box-shadow: 0px 0px 10px 10px orange;
}
#dialogbox > div{ background:black; margin: 5px;}
#dialogbox > div #dialogboxhead{background: black; font-size: 19px; padding: 10px; color:ivory;}
#dialogbox > div #dialogboxfoot{background: black; font-size: 19px; padding: 10px; color: ivory; text-align:right;}
#btnstyle {
    color: lightgrey;
    background: purple;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
}
#btnstyle1 {
    color: lightgrey;
    background:purple;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
}
#dialogoverlay2 {
    display: none;
    opacity:none;
    position:fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
#dialogbox2{
    display: none;
    position: fixed;
    background:seagreen;
    border-radius: 7px;
    width:500px;
    margin: auto;
    z-index: 900;
    box-shadow: 0px 0px 10px 10px skyblue;
}
#dialogbox2 > div{ margin: 5px;}
#dialogbox2 > div #dialogboxhead2{background:aquamarine; font-size: 19px; padding: 10px; color:chocolate;}
#dialogbox2 > div #dialogboxfoot2{background:aquamarine; 
    font-size: 19px; padding: 10px; color:chocolate; text-align:right;}
#btnstyle3 {
    color:white;
    background-color:darkcyan;
    border: 3px solid seagreen;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
    box-shadow: 0px 0px 5px 5px skyblue;
}
#dialogoverlay1 {
    display: none;
    opacity:none;
    position:fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
#dialogbox1{
    display: none;
    position: fixed;
    background: salmon;
    border-radius: 7px;
    width:500px;
    margin: auto;
    z-index: 900;
    box-shadow: 0px 0px 10px 10px lightblue;
}
#dialogbox1 > div{ margin: 5px;}
#dialogbox1 > div #dialogboxhead1{background:lightgreen; font-size: 19px; padding: 10px; color:white;}
#dialogbox1 > div #dialogboxfoot1{background:lightgreen; 
    font-size: 19px; padding: 10px; color:white; text-align:right;}
#btnstyle2 {
    color:white;
    background-color: lightgreen;
    border: 3px solid salmon;
    width:50px;
    height: 25px;
    margin: 0 auto;
    font-size:large;
    box-shadow: 0px 0px 5px 5px lightblue;
}
#game{
    width: 500px;
    height: 210px;
    border: 5px dashed sienna;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVFRgVFRUYGRgZGhgaGBwcHBgcGhoYGBoaGRgcGBocJC4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHzcsJCw0NDQ0NDQ0Nj80NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NjQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAAAwECBAUGB//EAD8QAAEDAQQHBQcDAwMEAwAAAAEAAhEDBBIhMUFRYXGBkaEFscHR8BMUIjJCUuEGgvFicpIVQ7IHM1OiFiNE/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAKBEAAgIBBAIBBAIDAAAAAAAAAAECERIDITFBE1FhBBSRoSKxcYHw/9oADAMBAAIRAxEAPwD7AhCss2SgQhCWSgQhCWKBCEK2KBCEJYoEIQrYoEIhEJYoEIhEJZKBCIRCWKBCiFKtiiqEISyUQhShLFEQoUoSxRCIUqFbFBCiFKEslEQoUqEsUQhSoSxREIhSoSxQKFKiUsUNlEqkqVws74lpUyqSiVbFF5RKpeU3ksUXlEql5F5WyUXlEql5TKWKLKyXKJSyUXlSqXkXlbFFpUql5RKWKLSiVWUSlii0olVlEpZKLSolRKJSxRMolRKiUsUTKJUSiUslEyhVlEpYosoUIKWKJUSolRKWKLSoUSolLFEoUSolWxRMqJUSolLFAKikPXOtFqaxjnuIAaJk+Wncvj3b36ntptTbr3MYx8wSS03ZqFrwAL5GIAiYhpkyTyxPQ3R9zvKL68n2T+rKBs/taj4DcySHOwEm8GYNOWAJ+YYmZOmwfq+xViAy0MLnNvBpkOIBjLXszTFi0ejvovrMHziMQovJRDVfU3lkvIvK0DXeReWW+pvoSkaryLyzX1N5AaLym8s15F5CUjTeReWa8i+go030X1mvqb6Eo0XkXlnvovqijReUXki+i+gofeReSL6m+godeReSb6L6WKHXlF5KvqLyWSh15F5JvIvJYodeReSbyLyWKGSiUu8pvJYoteUyqXlF5LFF5UXlQlReSxRz3GQRMSCJ1TpXzf8AXXY4pUWii0lzf/sfUmXNLDIMzLAATGjiZXundo0m5vbznuXjv1H+s6Bc6zlhe17XsnIC81zZIOOlpGnMRkTLR1xa5Rw7R2dbLTZW+0puY6mwNfUc5wD6bQSxrWQbxGciAMccSvn9Go6m9rxgWlrhmIgggzrwGI1r7hYO3aFWyMvtf8dMX7gAax5bD7snAXry+UdpU2H2cO+J7WFwx+ElskTmTMHeDlgqpKw9N1ufW/8Apv26bTZzePxsdBAENa36GtEmBAGUDVkY9YXr5p+h3CyMfDA6/wDK4/C+JmHkAzoyMYL0Fq/UrwPhYBzd5BZc42ajozq6PVX0OqAZkDevBVe37Q7MkDZA6gArDX7QLvmcATpJx5lZeorpHRaDq2z6JW7RpMEuqMH7gTyGKxu/UlGYF924DxIXg6VGcQ496rXY45Cd2fJTO3SNLQpWz3FT9V0gYDHk7m+aq39X0phzHjg3zXg/jB0zvT2MLsyZGW3cVc65ZFpJ8I9xT/VtA5h43tB7iVL/ANW2YGJfvu4d8rwraDzojf8AhBotJgOk/wBp6yo9WK7C0JNcH0ezdu2d/wAlVk6ibp5OiVu9ovl9Ps4n5nADmemHVarO99L/ALb6g3GG/wCORWXrw9l+0mfRvaIvrwn+vWk4F939rOuCh3btcf8A6G/4MPgnnjfDD+klV2vye9vovrwrv1VUAiWE67p7phc+09t13513gamQzq0T1V80fki+lk+0fSH1g0S4gDWSAOZWOr21Z2fNXpg6r7SeQMr58yoXfMSdrnFx4l0lUq2VhxETsjwXP7lXVHX7F1dn0ZnbFA/7rOLg3/lC1sqh2LSDuIPcvkLqLhgHxsKi+9uo7lpaz+CP6Ve2v2fYi5Er4u9zTmxvIJRY6ZbhwWlq+0Yf0q6f6PtpcoLl8Za+ppIP7XFa6NRxwIkbBhylZlrtdfs1H6NPv9H1b3lmV9vMKta1sYLz3taNZIA6r5s0D7SeMDkFN4nQBuEcyVy+6+Dt9gvf6PZ2n9TUxgxrn7flbzOJ5LlWn9S1j8t1u4DqXT0C4IoTmTzKh1MBcpa8pPZ/g76f0unFbr8mi09t2g4h5J/ueByELL/8mtrDhWMai1jhzcCeqS4tRcnQtRm1uJ6UZKjQf1jbf/KBuZT8Wq1L9aWxub2P/uY0f8YWX2LfsjgqOojU08vFdfMcPtV/yO/Z/wDqDUH/AHKDTrLHOb0cHd66VP8AX1mjFtUHVdYet5ePaBpaOQRDPtbyCnn+B9nF9moWxoyjfE9SSuNbbBSqPY8xAkvF0Y4fDELlNfsPBMFpI0u7+9dVoYu0zg/qclUkdBljuscxpAkvh0HAOcSABskrn1f061wEvIicmwcY27+ZWql2i4ajvYPBa6fa+tjDuDm+auE1wR6mm+UFB9xoaDMCNGPII95OhMHadP6qQG5094Cs3tGz/YRwafFZcZdo2tSPTKte52k8EwUydBKdT7RoZXyN4d5JzLVRP+6z/IDvWHGS6NqcX2JZQOlo5JzGPyyCaHM/8jf8m+akFuh5O6T3LDizanRVtHWDzITRSB+7gSlGpGRceB8VLKx/q4gqODZpaqQz3Jh0ePelns5uhxHAJge5QXuCmEvY8sfQn3NwyqdPyp92raHtI3uHgU5tQ6lcPOoqOEjS1IiG2N5+a6OJPgod2aNJnh+VpFVArjWs4zXBXOD5MjOzGTN0cQ4jiJWn3Ru7YA0eCt7ca1PvTRmeiNTZYyguBRsTNU7ylusrB9PVahbma1cWppWakumazi+0YHQMgEp79g5BdP27dSqXs1Dkql8Ey9M5Pttg5eSL5OTl1C1h+lvIKDRp/aFq16ZLftHM+Ifad8pzLSRmwcCI6rUbOz0Up9hYdfMqbPn+jWVcf2V97bqPRKfam+p8k33JmglR7mND0/ihlJkMtE6ekd6uSdQUNsJ+4LQykGrEq6NRk+zG8HU3kllz9i6eGropBGpLfobezlSdIQWzoK64IVw5utLfoto8++l/S/gfyojY/l+V6O81R7Zq0pv0c3XTPIe74R5TrPd3o9how6dFBuaC3qoDG6xsX0bPlKJY0BESOiBQGscwlPaBpbzA8UptoYfXcqnfAca5NfsBMkjmo9i3WPXBJZUAiBPHzTTanbQNmHgo2+jSjHsoKVPLCd0KrrPT09I8FY072Zx3DxCpcM6MNnjKZMYopUszMMAePfqVRZmHIR3804DWMkCo3QRwlLZMUKp04EBuek3CeBOIUtpuGAe4bi7wWphaMzPAJtN40MB3z4BRyZpRRhNF5+tx/dKYywVDpceK7NC8fp5B3kE8WUk4tPTxcub1Gja0kzjs7Mqf18CBu0preyq0fO5d+zUA3K8N613Vh6zNrSR5Ydn1h9buZVHWKp95XqHsSHWdFqlekjzhsj/vPJVdY3fcV6F1kVPdAteUz4jzwsJGMlX91fODiu+LMBoUex2J5B4jlMpvGUdfNMYag+odfNbzRKg0CpkjWDML75zfynzShTcMb790mF0TZyo91KmSGLOfcd97zx7lN923mVv91U+6pkhiznl79BI4nxUCrV+8/wDqfBdP3UI92CmSLizm+8Vvu/4+Sm/WP1ngV0xZxqU+wCzlH0axl7OO6lWOdR3+SkWaofrPDzXYFIKfZhMx4zi+5P0vdzKlthOV9/8AkV2rg1eoRcHrmnkL4zit7NH9Xd4K/wDpzftK68ePdKrIU8jHjR5Q0zoJjTl5nuVC3QS3x7kxlZ5wuwPWqUwgxAjn+F7LaPHSfAg0cdPemscG/wABQx5H0s5q7Xzq4FG2EkVfam7eU9QpLgcbpJ7tyl4gTPXHgocBrIO2B3pSLbKsDiDgccsY6Qr/ABjPHiq3RpM7ymXI0gKMIWQCcWmd4J8VdzS3ORyJ5KTTcTN6OveoLnN09w8EH+S4f/ceAA8FcuOojdHekitt6juVXPGozrP8HuUotmulanDRMa3uHQLZT7TyDrg/c7muO18fSd8F3V0dyltTSGHb8vkVHFPoqk12d9va2GEE/vPWIKYztefocdZAK8060NGLnQeJMcBgqOtTT8s8WuJ54dyz4l6NeX5PXs7QGkXd6cLU3Xyg9y8iyu2PnfOxpHWFZtJhw+M7XHDjMnosvSRpap64VmfcOYUuqsAkkAa15VlhaMbx/Y0jDa52CcLg+oAaXOLHchMcwVh6a6Ztaj7R6JloY75XtO4gqxIXnb9nkX3vfHKdjRgFsp2uloDdkkfz0Uen6sq1F3R1A5pyIPEKbqyU7cyJvsEZ4jDfKWO2KJyqA7pPWFnGXo1lH2brqLqxf6vR+8cj5Kf9Upff0d5KYy9Gso+zXdVYSRb2EwHXidQcc9cBNDwdOv10UqSLaZIVY9cP4Vvyo9cse9QEeumKPXXzhSTjHBVCAJ9clBPj5qT4Tw0bvW9QR5efDBAQT63Sq3sOHccfW1Q5w1jT1PiqueNY1+HfBVoWXcfXrSqX93VEjw7yf4VQlEs4Aa0/THJQ+kwjIngYHA5qr6bcDejefNEYZkiM/Q8V7qPDYz3ZmfgJ4SQq06LRiS0asJKS2mycXzsTC5gy6AxzhOCcj23NBJ3Ad6s17D9Jw2DkIlc4WlpPzdR3AJzqrQJ0a0aYTRse0GSQYiIw4acFl9owYYYSd+oRCSKzHnK9qzPfinNdByYIzyBVSrkjd8DJBiCcRjgeGX5VmsJEwcjo1aUltqGUt5lONQkRfHDL8qOyqhPswD8We10dyYA0nBokbPFVL2TlJ4ZLQKk/Kzdl0iUYiIcNYHeoIDvhyHCOq0vDs3Na0aJMD8JHsXuMNDN+f8qKmVpoggRBiNec9FRtHVgNEDxK1ixPjFzZ3eOtSbG44F2rEdctOSJrphp9oxupxkI2kz4ovNa35iXacY/AWl9jjCBnp2af5Uigflhsc/5yVsU0LZVpnB14kYxBd3wEi1uDxDGRB+ZzhI/a2R1T6jLuZjHUAMPXRTSYBjj4KJJbhtvZiKAMgOI34DqVoptBOTTvIA9cQhzTBuQDpc4yRuGtYjQc753zqvOg8krIW4/JuqUKQk1HsA0Nbj5krRZG070sYS2MMAMdfxFcxllEYXSdhCYyk9uEu2CfJRw25Kpb3R3qFmBEuZjwI46EitbbOwkOLS4fS0XiMNMDBc99neRi58afidHKUgWW7F0AbsTG5c1BN7s6uTS2R2LP2jRf9Dm/3NEdJWplsp5BwHAjcvPva5nxADaXECB/SJnom0LSYMMcRpMxKS01yhHUfDO2bYyYbB2kw3mczuQLQ3S9u4AkdJK4rLTVcTDGtAyBk7Nae211cRca6NPxALm4HRTs1VrW8mGDD7nDuHmlk1icXgbQPI7UqnbntHxMaf7cO+U09rkf7PMz0wSmuEW0+WTceBLqkNGkwBHErO63sLg2/eGz4hxMws/aJqWktDhda0zGicslSlY4wg7wukYxr+T3OUpSv+K2OswNIwiMTwGzyTW0wMht4HEccFgpUzgWyeIA9ZrQC/VqwzymBtWJJdM6Rk+0abuE+sNO6QlxsWF/ajQ65DiRnGImdJBz8k335pxx5JhIZx9nBFN2V4g6hnzzCn3QxD3k7CZSi14MCBz81dvtBmW9R3L2Hh/0OpWZo0d/gnOdIa0AiH3pGEi6RdIP04k8lnYTqaeDnd5S31KhwEgcG9G+ay1ZtOlwdAUiTmN2Cy2hpJuktbtMzwOAVKdOocATtifNU9kRmGztCKO/IlLbgcHBrbrc9Jg9yKQa0GQ46ThmrUmv1tG5qa6m8/M7DUAjCFMqudgyjG0nHjA8VD6NTU0c1oNoIF1l0bSZ6DzTKURecS7hhyhZtrejWKls2YmU36S3ktNN4bpHCfNFaqSco2aef4VAxky8EzkASfIK23ySlF7F3VGzg2TrjxK0NrEaRwjwVWPpNzaG/wBxbPJQazH4AOcNQvBvHAArDs0qX+SrraTrO5RVtVZ7gQGtAAEADGBdk4Z7daY57GDJo2TjyTGV5Exn6yTjhF52bMhDycXHdo6qvxzgY3egntc2ZMnkI5lN95ZEgHUMCfwVq2uDNJ8mZgfpPPEeKdeEQRhwiRsTGODsmO4rULLIy9D10WXJrksYp8GI1AcLoicjlIjSIISzZmnEyOS6DLIBjB9ZIdSacTkMc8Z3DNZyfRvBdnDfaPiIYCQNLsuATqQeMSG+t4W73UAgxAduEHdt4qrWE43RnhOsfSNa3la2OajT3EtcXHETxMIqXzlC0mk8jDDdh/B2JD2uGBcQdWnbAWd2dNkt7Md+7Ic4TsAw6Jnt9RMbvwmsszI+UznOrDHHelupOBgCR65rfJz2RV1vk3WyBsBjiSZKf744D4cNkT4pVGiBMn0fFOuQZw0eH55LMkuKNRb5szPtLyciYM5geBUvt1UiABGo4+AWhoicB5a/FS1jcy4TO04KWl0Wm+zFZ3vBPxETyG7FdKyWn7neua53vgvQGkjXC1UKv9Ks02t0SDSezNLu1aLHQ1rnHTAw4l3gk2vtJ723W0wJ1uPWMeRCz2mmXGQAHaI1bUyiXfU3eRks4rk25u66OfTp1J+a7/aAPytFx/3v5ldF7WXfmAdvAw2lL9tSGF8c/wAK5N9GcF7OW6m4mQMdp8lRpqOddLhMjUmh7jk8AbBJ54op0WjGHHbHiSF2XycGr4HNoOyBJgkYbNR1LNLjIDiNa1utjw2GsbGtxk8hEc0oWw5uuDcB4kqLI28S9GwkjFxO8lZ7TYgBN7fJw5pzreXYNe0bYVBZmOxe8uO1RWnbJJRapGJj2j6uroWtj26XDr4qr2Uxp7kUaYJwaY2nwC6tpo5KLTNTKzBp7vCUw2oHBrXHuWY03k/C0RuPmrNo1fujcAOoxXNpHVSfBeqXxiGsGsn+AsTnNmDUP7Zj/wBRC0u7NLjJknaZUjssonFdkkpPozsexulx/b5rULSwgEh7hqkDpKsLFCeygMox061JOLNRUlsJfaGAS2njtwjzWZtOo90kxsGAHBdVtLZuUvcGCSGja44cVhSrg24t8syMsAzcZ4laAxo+rx75Werb2XTHxO0XQQOZWFtd+ZEc/wCVpJy5I3FcHWL/AOs7vXkrG1kDMnkuYxj3ZvAGqIW1lmYB8dRvUrMtuRHfguLY4/UBmqvcIEuJMZCcNOQgdUupaqLMGuLjuMdB4rC1jnuk5atA9a0XuqK/V2dJlpIOmMRjqOCsy2NEAu1k7TOeecLEKIGhS2zk6PUKOipM0G2AnAYbeh3plO0A/NjrMjvCX7t8xIwa2es9yU6hIG6TqE5DfimSZcWhhtAYDD2jdnGrXxWcdo44AknTGI3E4q77LDS6IEkN24eaqLIS0OAyIvbBgtRkuznKMuhjLVqEYRjHhlmo94bGSllLRqw36uCBZicbuzHYmSKosU+1jUOY0Jbq4OsetK1+5CTgE73VpiW5AfgJlFExkzJTqsH0ztTDaAMWtx3mFoFnb9o/Cs6iIIGDsDiAcNIWXJM2otHIdUqOJ+MtOoYBIrMcYL3OdvJMcNC7lOjIiA4zpwAGuRjp0pTLO2HZyCBAGO2AdG1bUkjnKDZzqNGMAm+yW19OCRkYkDYc7wz5a0qtYcRmcBiBI5q5JlxaRzrNTJ+p0bynGzudETjjidAzUoSTdmYJNKzI6zzmrtsm5CFuzGKHCzBuYTAxpwDRvPkhChqi4Y0ZMBO6AmB8Yuc0DUIHUoQoUy1LbJhgnaT4YhPsznDEuHCO4BQhWWyMx3e5tfajHwsc7afhH5SG2pxPxFjeKELEUjpKTQ9tZgEl17cMPzzXNq295dABa3d+EIWoRVmZydIbTtYPzOdtxITWspuxJk7TOKEKuKJGTZsZRYcv4G1W9izZPchC4Pk9K4JdTpjOIjwx3pbaLCBlJIB2A6UIRcEbLCysg4aYGvYtFns7cQYGrHM+SEKSLEqaDRqMalApi6Tl4DbGnYhCiKy5pREev7j4INFsaYmYOZcMkIWTYPspIjKBy2bcVDqYkNGGBAGzb+UIURGApiARoz2z3K5pCeEnd5oQqwiG0wRPPdoVDq2dNu1CFClSfl5jdjPHFKLiADGIJ4Tp3HUhC0jLJD8AAAI05HHSFAeIBm87HPA80IVMlWvOD4lxzBwM78ypqME4ls7c+mCEK2Q//9k=);
background-repeat: no-repeat;
background-size: 120%;
}
#cat{
    width: 15px;
    height: 60px;
    background-color:sandybrown;
    position: relative;
    top: 150px;
    left: 2%;

}
#block{
    width: 20px;
    height: 20px;
    background-color:wheat;
    position: relative;
    top: 130px;
    left: 500px;
    border-radius: 50%;

} 
#start{
    position: relative;
    top: 25px;
   left: 240px;
   color: maroon;
   background-color: turquoise;
   border: 3px dashed burlywood;
}
#start2{
    display:none;
    position: relative;
    top: 25px;
   left: 240px;
   color: maroon;
   background-color: turquoise;
   border: 3px dashed burlywood;
}
.animate{
    animation: jump .5s ;
}
.animateb{
animation: blocks 1s infinite ;
}
@keyframes jump {
0%{top: 150px; ;}
30%{top: 100px;}
70%{top: 100px;}
100%{top: 150px;}
}
@keyframes blocks{
    5%{left:480;}
    100%{left:-25px;}
}
