
.container {
    max-width:400px;
    margin:10vh auto 0 auto;
    box-shadow:0px 0px 43px 17px lightgrey ;
}

#display {
   text-align: right;
   height: 70px;
   line-height: 70px; 
   padding: 16px 8px;
   font-size:200%;
   color: sandybrown;
}

.buttons {
 display: grid;  
 border-bottom:1px solid lightgrey;
 border-left: 1px solid lightgrey; 
 grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.buttons > div {
   border-top: 1px solid lightgrey;
   border-right: 1px solid lightgrey; 
}
.button {
 border: 0.5px solid lightgrey;  
 line-height: 100px; 
 text-align: center;
 font-size: 25px;
 cursor: pointer;
}

#equal {
   background-color: lightblue; 
   color: white;
   font-size: 40px;
}

#equal1 {
    color: white;
    background-color: lightsalmon;
    font-size: 40px;
}
#arrow {
    background-color: lightgreen;
    color: ivory;
    font-size: 40px;
}
#v {
    padding: 3px;
    color: white;
    background-color: black;
    border: 3px solid darkblue;
    box-shadow:0px 0px 5px 5px orange;   
}
#normal {
    padding: 2px;
    color: white;
    background-color: lightgreen;
 border:  3px solid lightsalmon;
 box-shadow: 0px 0px 5px 5px lightblue;
}
#center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 2%;
    box-shadow: 0px 0px 5px 5px lightgrey;
}
#col {
    padding: 3px;
    background-color: aqua;
    border: 2px solid green;
    box-shadow:0px 0px 5px 5px darkcyan;
    color:green;
    font-size: bold;
}
@media  screen and (min-width: 1000px) {
    #center {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: fit-content;
        margin: auto;
        border: 1px solid lightgrey;
        padding: 1%;
        box-shadow: 0px 0px 5px 5px lightgrey;
    }
}