html, body{
    color:azure;
    background-color: burlywood;
    width:50% ;
    margin: 0 auto;
}
.container{
    width: 360px;
}
#inputField{
    width:300px;
    height: 46px;
    border:2px groove powderblue;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#addToDo{
    height:50px ;
    width: 50px;
    border: 2px groove powderblue;
    vertical-align: middle;
    font-size: 30px;
}
.to-dos{
    margin-top: 20px;
}
.paragraph-styling{
  margin: 0;
  cursor: pointer;
   font-size: 20px; 
}
